[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
lxml = "*"
cssselect = "*"
python-dateutil = "*"
arghandler = "*"
keyring = "*"
pydbus = { version = "*", sys_platform = "== 'linux'" }
SecretStorage = { version = "*", sys_platform = "== 'linux'" }
tqdm = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.10"

[scripts]
lint = "sh -c 'black indico-cli; isort indico-cli; flake8 indico-cli'"
cli = "python indico-cli/cli.py"
